@import 'trix/dist/trix';

trix-toolbar .trix-button--icon-code,
trix-toolbar .trix-button--icon-increase-nesting-level,
trix-toolbar .trix-button--icon-decrease-nesting-level,
trix-toolbar .trix-button--icon-increase-nesting-level,
trix-toolbar .trix-button-group--file-tools {
    display: none;
}
